* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid blue;
}

html {
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
    font-size: 1.3rem;
}

body {
    height: 100vh;
    width: 100%;
}

.debug {

    background-color: aquamarine;
}

/* *********************************************************** <- SIDEBAR */

.sidebar {
    width: 200px;
    height: 100%;
    background-color: var(--nero-spotify);
    color: var(--grigio-testo);
    /* flex-shrink: 0; */
}

.playlist-scroll {
    overflow-y: auto;
}

.sidebar-top {
    width: 100%;
    height: calc(100% - 40px);
}

.sidebar-top img {
    width: 100%;
    display: block;
}

.sidebar-bottom {
    height: 40px;
}

/* *********************************************************** <- HEADER-FIXED */

.header-fixed {
    width: calc(100% - 200px);
    height: 60px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nero-spotify);
}

.header-fixed .btn {
    margin-right: 1rem;
    color: white;
}


/* *********************************************************** <- MAIN */

.main {
    /* height: calc(100% - 80px); */
    flex-wrap: wrap;
    background-color: var(--sfondo-main);
    
}

.containerA {
    width: calc(100% - 200px);
    height: calc(100vh - 144px);
    margin-top: 60px;
    overflow-y: auto;
    
}

.containerA li {
    color: var(--grigio-testo);
}

.navigator {
    height: 50px;
    justify-content: center;
}

.navigator ul {
    align-items: center;
}

/* *********************************************************** <- RECENTLY-LIST */

.recently-list .small-text {
    color: var(--grigio-testo);
}

.recently-list .song {
    width: calc(100% / 6);
    text-align: center;
}

.song-wrapper {
    position: relative;
}

.song img {
    width: 100%;
    display: block;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* *********************************************************** <- RELATED */

.suggerimenti.small-text {
    text-align: left;
    color: var(--grigio-testo);
}


/* *********************************************************** <- FOOTER */

footer {
    height: 80px;
    background-color: var(--sfondo-footer);
    color: white;
}

.footer-container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.center .player-nav {
    text-align: center;
}