* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid blue; 
}

html {
    font-family: 'Open Sans', sans-serif;
}


.debug {
    background-color: aquamarine;
}

/* *********************************************************** <- SIDEBAR */

.sidebar {
    width: 200px;
    background-color: var(--nero-spotify);
    color: var(--grigio-testo);
    /* flex-shrink: 0; */ 
    padding-left: 0.5rem;
}

.playlist-scroll {
    overflow-y: auto;
}

.sidebar-top {
    width: 100%;
    height: calc(100% - 60px);
}

.sidebar-top img {
    width: 100%;
    display: block;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.home, .playlist, .user-name {
    color: white;
}


.sidebar-bottom {
    height: 60px;
    padding-bottom: 0.5rem;
}

.installa {
    font-size: 0.8rem;
    height: 20px;
    
}

.user {
    border-top: 1px solid var(--grigio-testo);
    height: 40px;
}

.user-image {
    border-radius: 50%;
    background-color: var(--grigio-testo);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.user-image img {
    height: 85%;
    width: 85%;
    
}

.user-name {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
} 
/* *********************************************************** <- SIDEBAR-SMALL */

.sidebar-small {
    display: none;
    width: 50px;
    color: white;
    text-align: center;
}

.sidebar-small i {
    margin: 0;
}

.sidebar-small .logo {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 0;
}

/* *********************************************************** <- HEADER-FIXED */

.header-fixed {
    width: calc(100% - 200px);
    height: 60px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nero-spotify);
}

.header-fixed .btn {
    margin-right: 1rem;
}

.header-fixed a {
    color: white;
    text-decoration: none;
}


/* *********************************************************** <- MAIN */

.main {
    width: 100%;
    height: calc(100% - 80px);
    flex-wrap: wrap;
    background-color: var(--sfondo-main);
    
}

.containerA {
    width: calc(100% - 200px);
    /* height: calc(100vh - 144px); */
    height: 100%;
    margin-top: 60px;
    overflow-y: auto;
    
}

.navigator {
    height: 50px;
    justify-content: center;
}

.navigator ul {
    align-items: center;
}

.navigator li {
    margin: 0 1rem;
    
}

.navigator li:hover {
    border-bottom: 2px solid greenyellow;
}

.navigator a {
    color: var(--grigio-testo);
    font-weight: bold;
    text-decoration: none;
}

/* *********************************************************** <- RECENTLY-LIST */
.recently-list {
    margin-left: 10px;
}

.recently-list .small-text {
    color: var(--grigio-testo);
}

.songs-list {
    flex-wrap: wrap;
}

.song {
    width: calc(100% / 6 - 20px);
    /* text-align: center; */
    /* padding: 1rem 1rem 1rem 0; */
    margin-right: 20px;
}

.song-wrapper {
    position: relative;
}

.song img {
    display: block;
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.song-wrapper:hover .overlay {
    display: block;
}



/* *********************************************************** <- RELATED */
.related-list {
    margin-left: 10px;
}

.suggerimenti.small-text {
    text-align: left;
    color: var(--grigio-testo);
}

/* *********************************************************** <- POPULAR */
.popular-list {
    margin-left: 10px;
}

.popular-list .small-text {
    color: var(--grigio-testo);
}

.popular-list img {
    border-radius: 50%;
}


/* *********************************************************** <- FOOTER */

footer {
    height: 80px;
    background-color: var(--sfondo-footer);
    color: white;
}

.footer-container {
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

/* *********************************************************** <- FOOTER LEFT*/
.icone {
    align-items: center;
}

.brano-img {
    height: 50px;
    width: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.brano-img img {
    width: 100%;
}

.brano-nome {
    font-size: 0.8rem;
    align-self: center;
    margin-right: 2rem;
}


/* *********************************************************** <- FOOTER CENTER*/

.center .player {
    text-align: center;
}

.player i {
    padding: 0 1rem;
}

.player-nav {
    display: flex;
    align-items: center;
}

.player-nav .barra {
    display: inline-block;
    width: 400px;
    height: 4px;
    border-radius: 2px;
    margin: 0 1rem;
    background-color: var(--grigio-testo);
}

.status {
    background-color: white;
    height: 100%;
    width: 50px;
    border-radius: 2px;
}

.player-nav .timer {
    font-size: 0.8rem;
}

/* *********************************************************** <- FOOTER RIGHT*/

.right .barra-volume {
    display: inline-block;
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: var(--grigio-testo);
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}
