* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* *********************************************************** <- SIDEBAR */

.sidebar {
    width: 200px;
    background-color: var(--nero-spotify);
    color: var(--grigio-testo);
    /* flex-shrink: 0; */
    padding-left: 0.5rem;
    /* min-height: 900px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */
}

.sidebar a {
    display: block;
    color: var(--grigio-testo);
    text-decoration: none;
}

.sidebar .home {
    color: white;
}

.playlist-scroll {
    overflow-y: scroll;
    height: 300px;
}

/* .sidebar-top {
    width: 100%;
} */

.sidebar-top img {
    width: 100%;
    height: 60px;
    display: block;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.new-playlist  a {
    display: inline-block;
}

.home, .playlist, .user-name {
    color: white;
}

/* .naviga-playlist {
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */


.sidebar-bottom {
    padding-bottom: 0.5rem;
    /* height: 60px; */
}

.installa {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    /* height: 20px; */
}

.installa a {
    display: inline-block;
}

.user {
    border-top: 1px solid var(--grigio-testo);
    padding-top: 0.5rem;
    /* height: 40px; */
}

.user-image {
    border-radius: 50%;
    background-color: var(--grigio-testo);
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.user-image img {
    height: 85%;
    width: 85%;
}

.user-name {
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

/* *********************************************************** <- SIDEBAR-SMALL */

.sidebar-small {
    display: none;
    width: 50px;
    color: white;
    text-align: center;
}

.sidebar-small i {
    margin: 0;
}

.sidebar-small .logo {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 0;
}

.sidebar-small a {
    display: block;
    color: white;
    padding-bottom: 1rem;  
}

.installa {
    font-size: 1.2rem;
}

.sidebar-small .user-image {
    display: inline-block;
    padding: 0;
}

.user {
    border: none;
}

/* *********************************************************** <- HEADER-FIXED */

.header-fixed {
    width: calc(100% - 200px);
    height: 60px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 999;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nero-spotify);
}

.header-fixed .btn {
    margin-right: 1rem;
}

.header-fixed a {
    color: white;
    text-decoration: none;
}

/* *********************************************************** <- MAIN */

.main {
    width: 100%;
    height: calc(100% - 80px);
    flex-wrap: wrap;
    background-color: var(--sfondo-main);
}

.containerA {
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    margin-top: 60px;
}

.navigator {
    height: 50px;
    justify-content: center;
}

.navigator ul {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.navigator li {
    margin: 0 1rem;
}

.navigator .border-green {
    border-bottom: 1px solid greenyellow;
}

.navigator a {
    color: var(--grigio-testo);
    font-weight: bold;
    text-decoration: none;
}

.containerA .overflow {
    overflow-y: scroll;
    height: calc(100vh - 190px);
}

/* *********************************************************** <- RECENTLY-LIST */
.recently-list {
    margin-left: 10px;
}

.recently-list .small-text {
    color: var(--grigio-testo);
}

.songs-list {
    flex-wrap: wrap;
}

.song {
    width: calc(100% / 6 - 20px);
    /* text-align: center; */
    /* padding: 1rem 1rem 1rem 0; */
    margin-right: 20px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.song-wrapper {
    position: relative;
}

.song img {
    display: block;
    width: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.overlay-play {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round {
    border-radius: 50%;
}

/* *********************************************************** <- RELATED */
.related-list {
    margin-left: 10px;
}

.suggerimenti.small-text {
    text-align: left;
    color: var(--grigio-testo);
}

/* *********************************************************** <- POPULAR */
.popular-list {
    margin-left: 10px;
}

.popular-list .small-text {
    color: var(--grigio-testo);
}

.popular-list img {
    border-radius: 50%;
}

/* *********************************************************** <- FOOTER */

footer {
    height: 80px;
    background-color: var(--sfondo-footer);
    color: white;
}

.footer-container {
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

/* *********************************************************** <- FOOTER LEFT*/

.brano-img {
    height: 50px;
    width: 50px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.brano-img img {
    width: 100%;
}

.brano-nome {
    font-size: 0.8rem;
    align-self: center;
    margin-right: 2rem;
}

.nome-artista a {
    color: white;
    text-decoration: none;
}

.icone {
    color: var(--grigio-testo);
    align-items: center;
}

/* *********************************************************** <- FOOTER CENTER*/

.center .player {
    text-align: center;
}

.player i {
    padding: 0 1rem;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.player-nav {
    display: flex;
    align-items: center;
}

.player-nav .barra {
    display: inline-block;
    width: 400px;
    height: 4px;
    border-radius: 2px;
    margin: 0 1rem;
    background-color: var(--grigio-testo);
}

.status {
    background-color: white;
    height: 100%;
    width: 50px;
    border-radius: 2px;
    position: relative;
}

.cursor {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -5px;
    right: -10px;
}

.player-nav .timer {
    font-size: 0.8rem;
}

/* *********************************************************** <- FOOTER RIGHT*/

.right .barra-volume {
    display: inline-block;
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: var(--grigio-testo);
    margin-bottom: 0.2rem;
    margin-right: 0.5rem;
}

/* *********************************************************** <- HOVER*/

.header-fixed .btn:hover {
    transform: scale(1.1);
}

.navigator li a:hover {
    color: white;
}

.sidebar a:hover {
    color: white;
}

.sidebar li:hover {
    color: white;
}

.sidebar-small a:hover {
    transform: scale(1.2);
}

.song-wrapper:hover .overlay {
    display: block;
}

footer .left i:hover {
    color: white;
}

footer .center i:hover {
    transform: scale(1.1);
}

footer .nome-artista:hover {
    text-decoration: underline;
}

.status:hover {
    background-color: greenyellow;
}

.cursor:hover {
    transform: scale(1.3);
}


/* *********************************************************** <- MEDIA-QUERY*/

@media all and (max-width: 992px) {
    .song {
        width: calc(100% / 4 - 40px);
    }

    .right {
        display: flex;
        align-items: center;
    }

    .brano {
        align-items: center;
    }
}

@media all and (max-width: 768px) {
    .containerA {
        width: calc(100% - 50px);
    }

    .header-fixed {
        width: calc(100% - 50px);
        left: 50px;
    }
    .navigator ul {
        width: 100%;
    }

    .navigator li {
        margin-right: 1rem;
    }

    .song {
        width: calc(100% / 2 - 40px);
    }
    .sidebar {
        display: none;
    }

    .sidebar-small {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .player-nav .barra {
        width: 200px;
    }

    .player i {
        padding: 0.5rem;
    }
}

@media all and (max-width: 576px) {
    footer .brano-img {
        display: none;
    }

    footer .brano {
        margin-left: 5px;
        margin-right: 10px;
    }

    footer .brano-nome {
        margin: 0;
    }

    .right .barra-volume {
        display: none;
    }
}
